In [2]:
import glob
import xlwings as xw
import pandas as pd
import itertools
import copy
import numpy as np

In [5]:
brand_master = ['현대','기아','제네시스','르노','쉐보레', 'KG모빌리티']

for bm in brand_master:
    xl_app = xw.App(visible=False)
    wb = xl_app.books.open('./리스/backdata.xlsx')
    data = wb.sheets[bm].range('B1:AC2000').value
    df = pd.DataFrame(data[1:], columns=data[0])
    df = df.dropna(subset = 'brand_name')
    df = df[df['판매여부'] != 'N']
    df.columns = [i.lower() for i in df.columns]
    for c in df.columns:
        df[c] = df[c].astype(str).str.replace('\xa0', ' ') 
        
    df.to_csv(f'./리스/정리데이터/{bm}.csv', encoding = 'cp949')
    print(bm, '\n', df.columns)
    
wb.close()

현대
 Index(['brand_name', 'brand_img', 'car_name', 'model_name', 'model_detial',
       'car_price', 'ext_color', 'int_color', 'is_limited', '판매여부',
       'brand_bnk', 'car_bnk', 'model_bnk', 'brand_mz', 'car_mz',
       'brand_woori', 'car_woori', 'brand_im', 'car_im', 'brand_lotte',
       'car_lotte', 'model_lotte', 'brand_sh', 'car_sh', 'brand_nh', 'car_nh',
       'model_nh', '전기차 보조금'],
      dtype='object')
기아
 Index(['brand_name', 'brand_img', 'car_name', 'model_name', 'model_detial',
       'car_price', 'ext_color', 'int_color', 'is_limited', '판매여부',
       'brand_bnk', 'car_bnk', 'model_bnk', 'brand_mz', 'car_mz',
       'brand_woori', 'car_woori', 'brand_im', 'car_im', 'brand_lotte',
       'car_lotte', 'model_lotte', 'brand_sh', 'car_sh', 'brand_nh', 'car_nh',
       'model_nh', '전기차 보조금'],
      dtype='object')
제네시스
 Index(['brand_name', 'brand_img', 'car_name', 'model_name', 'model_detial',
       'car_price', 'ext_color', 'int_color', 'is_limited', '판매여부',
       'brand_bnk', 'car_bnk', 'model_bnk', 'brand_mz', 'car_mz',
       'brand_woori', 'car_woori', 'brand_im', 'car_im', 'brand_lotte',
       'car_lotte', 'model_lotte', 'brand_sh', 'car_sh', 'brand_nh', 'car_nh',
       'model_nh', '전기차 보조금'],
      dtype='object')
르노
 Index(['brand_name', 'brand_img', 'car_name', 'model_name', 'model_detial',
       'car_price', 'ext_color', 'int_color', 'is_limited', '판매여부',
       'brand_bnk', 'car_bnk', 'model_bnk', 'brand_mz', 'car_mz',
       'brand_woori', 'car_woori', 'brand_im', 'car_im', 'brand_lotte',
       'car_lotte', 'model_lotte', 'brand_sh', 'car_sh', 'brand_nh', 'car_nh',
       'model_nh', '전기차 보조금'],
      dtype='object')
쉐보레
 Index(['brand_name', 'brand_img', 'car_name', 'model_name', 'model_detial',
       'car_price', 'ext_color', 'int_color', 'is_limited', '판매여부',
       'brand_bnk', 'car_bnk', 'model_bnk', 'brand_mz', 'car_mz',
       'brand_woori', 'car_woori', 'brand_im', 'car_im', 'brand_lotte',
       'car_lotte', 'model_lotte', 'brand_sh', 'car_sh', 'brand_nh', 'car_nh',
       'model_nh', '전기차 보조금'],
      dtype='object')
KG모빌리티
 Index(['brand_name', 'brand_img', 'car_name', 'model_name', 'model_detial',
       'car_price', 'ext_color', 'int_color', 'is_limited', '판매여부',
       'brand_bnk', 'car_bnk', 'model_bnk', 'brand_mz', 'car_mz',
       'brand_woori', 'car_woori', 'brand_im', 'car_im', 'brand_lotte',
       'car_lotte', 'model_lotte', 'brand_sh', 'car_sh', 'brand_nh', 'car_nh',
       'model_nh', '전기차 보조금'],
      dtype='object')